// https://coolors.co/2c363f-6ccff6-f2f5ea-757780-fffffc
// alternative: https://coolors.co/0a090c-6ccff6-f0edee-07393c-2c666e

$primary: #6ccff6;
$secondary: #9bc53d; // #07393c
$tertiary: #c3423f; // #2c666e

$dark: #2c363f;
$medium: #757780;
$light: #f2f5ea;
$white: #fffffc;
