// https://coolors.co/2c363f-6ccff6-f2f5ea-757780-fffffc
// alternative: https://coolors.co/0a090c-6ccff6-f0edee-07393c-2c666e

$primary: #6ccff6;
$secondary: #9bc53d; // #07393c
$tertiary: #c3423f; // #2c666e
$quaternary: #d8973c;

$dark: #2c363f;
$medium: #757780;
$light: #f2f5ea;
$white: #fffffc;

$body-font-family: 'Rubik', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$global-font-size: 112.5%;
$global-weight-normal: 300;
$anchor-color: $medium;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);
$header-font-family: $body-font-family;
$header-font-weight: 500;
$header-lineheight: 1.15;
$header-styles: (
  small:
    (
      'h1': ('font-size': 24),
      'h2': ('font-size': 20),
      'h3': ('font-size': 19),
      'h4': ('font-size': 18),
      'h5': ('font-size': 17),
      'h6': ('font-size': 16)
    ),
  medium:
    (
      'h1': ('font-size': 42),
      'h2': ('font-size': 32),
      'h3': ('font-size': 28),
      'h4': ('font-size': 24),
      'h5': ('font-size': 21),
      'h6': ('font-size': 18)
    )
);
$xy-grid: true;
$grid-container: 1140px;
$grid-columns: 12;
$grid-margin-gutters: 40px;
$grid-container-padding: 40px;
$grid-container-max: 1600px;
