.footer {
    font-size: 90%;
    margin-top: 4rem;
}

.footer a {
    color: var(--color-link);
    opacity: 0.5;
    text-decoration: none;
}

.footer a:hover {
    opacity: 1;
}

.footer__menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.footer__icon {
    fill: var(--color-text);
}