html {
    font-size: 112.5%;
}

body {
    font-family: Rubik, -apple-system, Roboto, sans-serif, serif;
    font-weight: 300;
}

main {
    max-width: 780px;
}

blockquote,
body,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
pre,
td,
th,
ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1,
h2 {
    margin-bottom: 1.4rem;
    margin-top: 0;
}

h1 {
    font-size: 2em;
}

p {
    font-size: inherit;
    line-height: 1.6;
    margin-bottom: 1rem;
    margin-top: 0;
    text-rendering: optimizeLegibility;
}


:root {
    --rgb-light: 249, 249, 250;
    --rgb-dark: 22, 33, 42;

    --color-light: #f9f9fa;
    --color-dark: #16212a;

    --color-midnight: #2d4255;
    --color-night: #325b73;
    --color-sunrise: #d98859;
    --color-day: #f7cd5d;
    --color-sunset: #d98859;
}

[data-theme="light"] {
    --color-background: var(--color-light);
    --color-link: var(--color-dark);
    --color-text: var(--color-dark);

    --rgb-border: 22, 33, 42;

    --logo-opacity: 1;
}

[data-theme="dark"] {
    --color-background: var(--color-dark);
    --color-link: var(--color-light);
    --color-text: var(--color-light);

    --rgb-border: 249, 249, 250;

    --logo-opacity: 0.5;
}