.job {
    display: flex;
    flex-direction: column;
    font-size: 90%;
    line-height: 1.4;
    gap: 0.5rem;
    margin-top: 1rem;
}

.job__meta {
    color: var(--color-text);
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    gap: 0.5rem;
}

.job__position {
    font-weight: 400;
    margin-bottom: 0;
}

.job__duration {
    margin-bottom: 0;
    opacity: 0.5;
}

.job__highlights {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0;
    padding-left: 1rem;
}