@import '../app/global';

.job {
  &__name {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 5px;

    a {
      position: relative;
      text-decoration: none;

      &,
      &:hover {
        color: $dark;
      }

      &::after {
        background-color: $secondary;
        bottom: 0;
        content: '';
        display: block;
        height: 8px;
        left: 0;
        opacity: 0.35;
        position: absolute;
        right: 0;
        transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
        width: 100%;
        z-index: -1;
      }

      &:hover {
        color: $dark;

        &::after {
          opacity: 0.75;
        }
      }
    }
  }

  &__position,
  &__duration {
    line-height: 1.4;
    margin-bottom: 0;
  }

  @include breakpoint(medium) {
    &__name {
      font-size: 28px;

      a {
        &::after {
          bottom: 2px;
        }
      }
    }
  }
}
